/* .area{
    width: 100%;
    height:100vh;
    
   
} */

body{
  overflow-y: hidden;
}
:root {
    --gradient: linear-gradient(142deg, #e7eaee 15%, rgba(22,77,155,1) 28%, rgba(14,63,139,1) 41%, rgb(201, 208, 220) 64%);
  }
.main {
 
    padding: 3rem;
    background: #ddd;
    background-size: 300%;
    height:100vh;
    background-image: var(--gradient);
    overflow-y: scroll;
    animation: bg-animation 5s infinite;
    /* height: 130vh; */
    
  }
  
  @keyframes bg-animation {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
  }


  .logo_gov{
    width: 200px;            /* your chosen width */
    aspect-ratio: 797 / 519;
    height: auto;
    margin-bottom: 14px;
    margin-top:2rem;
  }

  .deparment{
      color: #fff;
      font-weight: bold;
      text-align: center;
      margin-bottom:5rem;
  }

  /* .duk_logo_typ{
    display: "flex", justifyContent: "center", gap: "2rem"marginBottom: "3rem"
  } */
  .duk_logo{
     width: 120px;
          height: 60px;
          padding:.7rem;
          border-radius: 5px;
          
  }

  .cdti_logo{
     width: 120px;
          height: 60px;
          padding: .7rem;
          border-radius: 5px;
          margin-top: -8px;
  }


  @media only screen and (max-width: 1024px) {
    .main {
        padding: .4rem;
        height:100vh;
        overflow-y: scroll;
    }
     .logo_gov{
    width: 110px;
    height: 70px;
    margin-bottom: 16px;
    margin-top:2rem;
  }
  .deparment{
    font-size: .7rem;
      margin-bottom:1rem;
  }
    .duk_logo{
     width: 60px;
          height: 40px;
          padding:.7rem;
          border-radius: 5px;
  }
   .cdti_logo{
     width: 85px;
          height: 50px;
          padding: .7rem;
          border-radius: 5px;
          margin-top: -8px;
  }
  .copy_right{
    font-size: .7rem;
  }
  }

