body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    display: flex;
    width: 60%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .left {
    flex: 1;
    background-color: #0077b6;
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .left h1 {
    margin-bottom: 20px;
  }
  
  .left p {
    margin-bottom: 30px;
  }
  
  .left button {
    background-color: #fff;
    color: #0077b6;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .right {
    flex: 1;
    padding: 40px;
  }
  
  .right h2 {
    margin-bottom: 10px;
  }
  
  .right p {
    margin-bottom: 30px;
  }
  
  .form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .form button {
    width: 100%;
    padding: 10px;
  }
  
  .form a {
    display: block;
    text-align:right; 
  }
  
  button:hover {
    background-color:#005f8a; /* Darker shade on hover */
  }
  
  a:hover {
   text-decoration:none; 
   color:#005f8a; /* Darker shade on hover */
  }
  